<div class="container">
  <div class="row">
    <div class="steps-picture">
      <img src="/assets/Step1.svg" />
    </div>
  </div>

  <div class="row" style="padding-top:74px">
    <img src="/assets/Group 2.svg" />
  </div>
  <div class="row" style="padding-top:30px">
    <div class="primary-title">Vérifiez votre email</div>
  </div>

  <div class="row">
    <div class="secondary-title">
      Jetez un coup d’oeil sur votre inbox
    </div>
  </div>
  <div class="row" style="padding-top:80px">
    <a routerLink="/completer"> <div class="link">JE N’AI RIEN REÇU</div></a>
  </div>
</div>
