<div class="content-section">

  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="title">
        Ajoutez une nouvelle disponibilité
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="subtitle">
        Liste des professions pouvant exercer au sein du cabinet
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <div class="secondary-title">Prix du loyer demi-journée (En Euro)</div>
      <button class="btn secondary-btn">
        <div class="content-btn">120 €</div>
      </button>
    </div>
    <div class="d-flex justify-content-center" style="padding-top:32px">
      <img src="/assets/Group 11.svg" />
    </div>
    <div class="d-flex justify-content-center">
      <div class="secondary-title">Prix du loyer une journée (En Euro)</div>
      <button class="btn secondary-btn">
        <div class="content-btn">200 €</div>
      </button>
    </div>
    <div class="d-flex justify-content-center" style="padding-top:32px">
      <img src="/assets/Group 11.svg" />
    </div>

    <div class="d-flex justify-content-center" style="padding-top:50px">
      <div class="yellow-container">
        <img src="/assets/Info.svg" style="float:left;padding:23px" />
        <p>
          Cocabinet aura une commission de 10% pour <br />chaque réservation
          réalisée
        </p>
      </div>
    </div>
  </div>
</div>
