@import "abstracts/variables";

.footer {
  height: 100px;
  background: $Primary-white;
  position: fixed;
  width: 100%;
  bottom: 0;
}
.header-title {
  padding-top: 5px;
}
.header-section {
  height: 100px;
}
h2 {
  font-family: $Primary-font;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: normal;

  letter-spacing: 0.2px;
  color: $Step-color;
}
h3 {
  font-family: $Primary-font;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 11px;

  color: $Secondary-dark-1;

  opacity: 0.5;
}

input::placeholder {
  font-family: $Primary-font;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 11px;

  color: $Secondary-dark-1;

  opacity: 0.5;
}
button {
  height: $custom-height;
  width: $custom-width;
  background: $Primary-white;
  border: 1px solid rgba(213, 212, 217, 0.5);
  box-sizing: border-box;
  border-radius: 4px;
}

.btn {
  margin-top: 25px;
}
.progress-section,
.progress {
  height: 6px;
  z-index: -1 !important;
}

.progress-bar {
  display: flex;
  background-color: $Progress-color;
}
.title {
  font-family: $Primary-font;
  font-style: normal;
  font-weight: 500;
  font-size: $title-size;
  line-height: normal;
  text-align: center;
  letter-spacing: 0.2px;
  color: $Secondary-dark-1;
  margin-top: 95px;
}

.subtitle {
  font-family: $Primary-font;
  font-style: normal;
  font-weight: normal;
  font-size: $subtitle-size;
  line-height: normal;
  text-align: center;
  letter-spacing: 0.2px;
  color: $Secondary-dark-2;
}
input {
  height: $Input-height;
  border: 0px;
  margin-top: 30px;
}
label {
  font-family: $Primary-font;
  font-style: normal;
  font-weight: 500;
  font-size: $label-size;
  line-height: normal;
  text-transform: uppercase;
  padding-left: 15px;
  color: #3a3768;
  padding-top: 5px;
}

.content-btn {
  float: left;
}
.gray-section {
  background: #dee4eb;
  height: 1px;
  width: 100%;
  margin-top: 50px;
}

.footer-primarylink,
a {
  font-family: $Primary-font;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: normal;
  letter-spacing: 0.2px;
  color: $Secondary-dark-1;
  padding-top: 27px;
}

.footer-secondarylink,
a {
  font-family: $Primary-font;
  font-style: normal;
  font-weight: 500;
  font-size: $label-size;
  line-height: normal;
  text-transform: uppercase;
  color: $Secondary-dark-1;
  opacity: 0.5;
  padding-top: 5px;
}

.btn-next {
  width: 264px;
  height: 54px;
  background: $Primary-1;
}

.btn-return {
  width: 160px;
  height: 54px;
  background: $Progress-color;
}
.content-btn-return {
  font-family: $Primary-font;
  font-style: normal;
  font-weight: 500;
  font-size: $label-size;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  color: $Secondary-dark-1;
}
.content-btn-next {
  font-family: $Primary-font;
  font-style: normal;
  font-weight: 500;
  font-size: $label-size;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  color: $Primary-white;
}

.secondary-title {
  padding-left: 15px;
  font-family: $Primary-font;
  font-weight: 500;
  font-size: 20px;
  line-height: normal;
  text-align: center;
  color:$Primary-color;
}
