<div class="container">
  <div class="row">
    <h2>Inscription</h2>
  </div>
  <div class="row">
    <h4>Vous êtes locataire ?</h4>
    <a routerLink="/verifier"><h4>&nbsp;Par ici ></h4></a>
  </div>

  <div class="row">
    <form>
      <div class="form-group">
        <label class="email-label" for="InputEmail1">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="contact@smala.co"
        />
      </div>
      <div class="form-group">
        <label class="password-label" for="InputPassword">Field title</label>

        <div class="input-group mb-3">
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Tapez votre mot de passe"
          />
          <i src="/assets/vector_ext.png"> </i>
        </div>
        <div class="or_icon">
          <img src="/assets/Or.svg" />
        </div>
      </div>
      <button type="submit" class="btn-subscribe">
        <div class="btn-content">INSCRIPTION</div>
      </button>
    </form>
  </div>
  <div class="row">
    <form>
      <button type="submit" class="btn-google">
        <div class="btn-content">GOOGLE</div>
      </button>
      <button type="submit" class="btn-linkedin">
        <div class="btn-content">LINKEDIN</div>
      </button>
    </form>
  </div>
  <div class="row">
    <form>
      <a href="#" class="question-label">Vous avez un compte déjà?</a>

      <a href="#" class="SignUp-label">Connectez vous</a>
    </form>
  </div>
</div>
