<div class="container">
  <div class="row1">
    <div class="steps-picture">
      <img src="/assets/Step2 .svg" />
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <h2>Mon Profil</h2>
  </div>

  <div class="d-flex justify-content-center">
    <h3>Jetez un coup d’oil sur votre inbox</h3>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label>Nom</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputName"
          placeholder="Votre Nom"
        />
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label>Prénom</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputLastname"
          placeholder="Votre Votre prénom"
        />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label>Adress mail</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputEmail"
          placeholder="Votre Adresse mail"
        />
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label>Téléphone mobile</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputMobile_number"
          placeholder="Numéro de téléphone"
        />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label>Spécialité principale</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Psycologue</option>
          <option>Other option</option>
        </select>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label>Spécialité principale</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Nouveau diplomé</option>
          <option>Other option</option>
        </select>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-end">
    <button type="submit" class="btn-valid">
      <div class="btn btn-content" (click)="routing()">VALIDER</div>
    </button>
  </div>
</div>
