<div class="container">
  <h2>Se connecter</h2>
  <h4>Vous êtes locataire ?</h4>
  <a routerLink="/verifier"><h4>Par ici ></h4></a>
  <form>
    <div class="form-group">
      <div class="input-group mb-3" style="padding-top:34px">
        <label class="email-label" for="InputEmail1">Email address</label>

        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="contact@smala.co"
        />
      </div>
    </div>
    <div class="form-group">
      <label class="password-label" for="InputPassword">Field title</label>

      <div class="input-group mb-3">
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          placeholder="Tapez votre mot de passe"
        />
        <i src="/assets/vector_ext.png"> </i>
      </div>
    </div>
    <div class="d-flex justify-content-between">
      <div class="save-link">
        <div class="custom-control custom-checkbox mr-sm-2">
          <input
            type="checkbox"
            class="custom-control-input"
            id="customControlAutosizing"
          />
          <label class="custom-control-label" for="customControlAutosizing"
            >se souvenir de moi</label
          >
        </div>
      </div>
      <div class="forget-link"><a href="">Mot de passe oublié ?</a></div>
    </div>
    <button type="submit" class="btn-subscribe">
      <div class="btn-content">CONNEXION</div>
    </button>
  </form>
  <div class="or_icon">
    <img src="/assets/Or.svg" />
  </div>
  <form>
    <button type="submit" class="btn-google">
      <div class="btn-content">GOOGLE</div>
    </button>
    <button type="submit" class="btn-linkedin">
      <div class="btn-content">LINKEDIN</div>
    </button>
  </form>
  <div class="d-flex justify-content-between">
    <div class="question-label"><a href="#">Vous avez un compte déjà?</a></div>

    <div class="SignUp-label"><a href="#">Connectez vous</a></div>
  </div>
</div>
