<div class="gray-section">
  <div
    class="container nav-container"
    style="padding-top:15px;padding-left:0px"
  >
    <div class="d-flex">
      <div class="p-2">
        <span>
          <img
            src="/assets/dashboard/Pin 1.1.svg"
            style="float:left;padding-right: 14px"
          />
        </span>
        <span class="location-label">Mon Cabinet</span>
      </div>
      <div class="p-2">
        <span>
          <img
            style="padding-left:70px;float: left;"
            src="/assets/dashboard/Grid 5.svg"
          />
        </span>
        <span class="request-link">
          <a routerLink="/platforme/demandes">Demandes</a>
        </span>
      </div>
      <div class="p-2">
        <div class="custom-cercle12">
          <div class="custom-content12">12</div>
        </div>
      </div>
      <div class="p-2">
        <div class="custom-cercle">
          <span>
            <img style="padding-left:50px" src="/assets/dashboard/Calendar.svg"
          /></span>
          <span class="reservetion-link">
            <a routerLink="/platforme/reservations">Reservation</a>
          </span>
        </div>
      </div>
      <div class="p-2">
        <div class="custom-cercle2"><div class="custom-content2">2</div></div>
      </div>
      <div class="ml-auto p-2">
        <img style="float:left" src="/assets/dashboard/Ellipse.svg" />
        <div class="last-link">
          <a class="last-link" href="/profile">Ajouter une disponibilité</a>
        </div>
      </div>
    </div>
  </div>
</div>
