
<div class="content-section">
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="title">
        Caractéristiques de votre cabinet
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="subtitle">
        Liste des professions pouvant exercer au sein du cabinet
      </div>
    </div>
    <div class="row" style="padding-top:54px">
      <div class="secondary-title">Équipements</div>
    </div>
    <div class="row">
      <div class="col-md-3" *ngFor="let item of equipments; let i = index">
        <button
          (click)="equipementChoice(i)"
          class="btn "
          [ngClass]="{
            choice: item.status == 'active'
          }"
        >
          <div class="content-btn">
            <span class="btn-icon">
              <img src="/assets/{{ item.icon }}" />
            </span>
            <span class="btn-name">
              {{ item.name }}
            </span>
          </div>
        </button>
      </div>
      <div class="col">
        <button class="btn ">
          <div class="content-btn">
            <span class="btn-icon">
              <img src="/assets/add.svg" />
            </span>
            <span class="btn-name">
              Ajouter Nouveau
            </span>
          </div>
        </button>
      </div>
    </div>

    <div class="row" style="margin-top:43px">
      <div class="secondary-title">Interdications</div>
    </div>
    <div class="row">
      <div class="col-md-3" *ngFor="let item of interdications; let i = index">
        <button
          (click)="interdicationChoice(i)"
          class="btn "
          [ngClass]="{
            choice: item.status == 'active'
          }"
        >
          <div class="content-btn">
            <span class="btn-icon">
              <img src="/assets/{{ item.icon }}" />
            </span>
            <span class="btn-name">
              {{ item.name }}
            </span>
          </div>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="btn">
          <div class="content-btn">
            <span class="btn-icon">
              <img src="/assets/add.svg" />
            </span>
            <span class="btn-name">
              Ajouter Nouveau
            </span>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
