//buttons
$btn-height: 58px;
$custom-height: 60px;
$custom-width: 206px;

//labels
$Input-height: 52px;
$label-color: #9997b1;
$label-size: 14px;
$label-font: Quicksand;

//nav-bar-steps
$nav-font: Rubik;
$nav-size: 18px;

//titles
$Primary-color: #8f68fc;
$Primary-font: Quicksand;
$Secondary-font: Montserrat;

//colors
$Red-color: #ff756a;
$Progress-color: #8f68fc;
$Primary-white: #ffffff;
$white: #fcfcfc;
$Gradient: linear-gradient(91.58deg, #8f68fc 0%, #292984 100%);
$Primary: #292984;

$Primary-1: #292984;
$Secondary-normal: #05d2dd;
$Secondary-dark-1: #3a3768;
$Secondary-dark-2: #010102;
$Secondary-background: #f8f8fb;
$Step-color: #5e20e5;
$Dark-blue: #1f2041;
$Dark-gray: #9c9bb3;
$Placeholder-color: #312f44;
$Secondary-black: #3a3768;
$Secondary-yellow: #f3cf4e;
$Secondary-green: #00b9c3;
$deactive-color: #e8e8eb;
$Primary-gradient: linear-gradient(93.76deg, #8f68fc 0%, #292984 100%);
$Secondary-gray: #dee4eb;
$Primary-gray: #ebebf0;
$Secondary-green-2:#05D2DD;
$Secondary-black:#312F44;
$secondary-danger: #FF756A;
//text font
$text-size: 16px;
$title-size: 26px;
$subtitle-size: 16px;
//size
