<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h3>Select files</h3>

      <div
        ng2FileDrop
        [ngClass]="{ 'nv-file-over': hasBaseDropZoneOver }"
        (fileOver)="fileOverBase($event)"
        [uploader]="uploader"
        (onFileDrop)="onFileSelected($event)"
        class="well my-drop-zone"
      >
        Base drop zone
      </div>
    </div>

    <div class="col-md-9" style="margin-bottom: 40px">
      <h3>Upload queue</h3>
      <p>Queue length: {{ uploader?.queue?.length }}</p>

      <div *ngFor="let url of urls">
        <img src="{{ url }}" height="200" width="200" />
        <button class="btn btn-danger "(click)="onDelete(url)">remove</button>
      </div>
    </div>
  </div>
</div>
