<div class="content-section">
  <div class="container" style="width:720px">
    <div class="d-flex justify-content-center">
      <div class="title">
        Ajoutez une nouvelle disponibilité
      </div>
    </div>
    <div class="row">
      <label> Séléctionnez la date de début de votre disponibilité</label>
    </div>
    <div class="d-flex justify-content-center">
      <mat-form-field>
        <input
          matInput
          [matDatepicker]="picker"
          readonly
          placeholder="Séléctionnez LA date du début"
        />
        <mat-datepicker-toggle matSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>
            <img src="/assets/f-icon.svg"
          /></mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker
          #picker
          [calendarHeaderComponent]="exampleHeader"
        ></mat-datepicker>

      </mat-form-field>
    </div>
    <div class="row">
      <label>Séléctionnez la durée de votre disponibilité</label>
    </div>

    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-time ">
          <div class="content-btn-time">1 semaine</div>
        </button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-time">
          <div class="content-btn-time">2 semaine</div>
        </button>
      </div>
      <div class="col"></div>
    </div>
    <div class="row" style="padding-top:30px">
      <div class="col">
        <button type="button" class="btn btn-time">
          <div class="content-btn-time">1 mois</div>
        </button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-time">
          <div class="content-btn-time">2 mois</div>
        </button>
      </div>

      <div class="col">
        <button type="button" class="btn">
          <div class="content-btn-time">6 mois</div>
        </button>
      </div>
    </div>
  </div>
</div>
