<div class="content-section">
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="title">
        Photos de cabinet
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="subtitle">
        Liste des professions pouvant exercer au sein du cabinet
      </div>
    </div>
  </div>

  <div id="custom-content" class="container">
    <div class="d-flex">
      <div class="p-2" style="margin-top:30px">
        <img src="/assets/Group 6.3.svg" alt="" style="float:left" />
      </div>
      <div class="p-2" style="margin-top:35px">
        <p>
          Faites glisser les photos ici <br />ou cliquez sur le boutton
          “ajouter”
        </p>
      </div>

      <div class="ml-auto p-2">
        <button type="button" class="btn gray-btn">
          <label class="content-btn">Ajouter</label>
        </button>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <img src="/assets/group8.1.svg" />
      <img src="/assets/group8.1.svg" style="padding:25px" />
      <img src="/assets/group8.1.svg" />
    </div>
  </div>
</div>
