
  <div class="container">
    <div class="row">
      <div class="title">Liste des demandes</div>
    </div>
    <div class="row">
      <div class="subtitle">
        Vous trouverez ci-dessous la liste des personnes interessées
      </div>
    </div>
    <div class="row" style="margin-top:25px">
      <div class="col">
        <div class="secondary-label">Demandeur</div>
      </div>
      <div class="col">
        <div class="secondary-label">Date de la demande</div>
      </div>
      <div class="col">
        <div class="secondary-label">Date de réservation</div>
      </div>
      <div class="col">
        <div class="secondary-label">Durée</div>
      </div>
      <div class="col">
        <div class="secondary-label">Prix</div>
      </div>
    </div>
    <div class="row custom-row">
      <div class="col">
        <div class="gray-circle"></div>
        <div class="primary-label">Jonathan Dhont</div>
      </div>
      <div class="col">
        <div class="primary-label">15 April, 2018</div>
      </div>
      <div class="col">
        <div>
          <span class="primary-label">15 April,2018</span>
          <span class="secondary-label">( dans 3 Jours )</span>
        </div>
      </div>
      <div class="col">
        <div class="primary-label">2 jours&nbsp;(3 sessions)</div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col">
            <div class="primary-label">
              360 €
            </div>
          </div>
          <div class="col">
            <button class="btn vector-btn" (click)="routing()">
              <img src="/assets/Vector.svg" />
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row custom-row">
      <div class="col">
        <div class="gray-circle"></div>
        <div class="primary-label">Jonathan Dhont</div>
      </div>
      <div class="col">
        <div class="primary-label">15 April, 2018</div>
      </div>
      <div class="col">
        <div>
          <span class="primary-label">15 April,2018</span>
          <span class="secondary-label">( dans 3 Jours )</span>
        </div>
      </div>
      <div class="col">
        <div class="primary-label">2 jours&nbsp;(3 sessions)</div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col">
            <div class="primary-label">
              360 €
            </div>
          </div>
          <div class="col">
            <button class="btn vector-btn" (click)="routing()">
              <img src="/assets/Vector.svg" />
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row custom-row">
      <div class="col">
        <div class="gray-circle"></div>
        <div class="primary-label">Jonathan Dhont</div>
      </div>
      <div class="col">
        <div class="primary-label">15 April, 2018</div>
      </div>
      <div class="col">
        <div>
          <span class="primary-label">15 April,2018</span>
          <span class="secondary-label">( dans 3 Jours )</span>
        </div>
      </div>
      <div class="col">
        <div class="primary-label">2 jours&nbsp;(3 sessions)</div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col">
            <div class="primary-label">
              360 €
            </div>
          </div>
          <div class="col">
            <button class="btn vector-btn" (click)="routing()">
              <img src="/assets/Vector.svg" />
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row custom-row">
      <div class="col">
        <div class="gray-circle"></div>
        <div class="primary-label">Jonathan Dhont</div>
      </div>
      <div class="col">
        <div class="primary-label">15 April, 2018</div>
      </div>
      <div class="col">
        <div>
          <span class="primary-label">15 April,2018</span>
          <span class="secondary-label">( dans 3 Jours )</span>
        </div>
      </div>
      <div class="col">
        <div class="primary-label">2 jours&nbsp;(3 sessions)</div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col">
            <div class="primary-label">
              360 €
            </div>
          </div>
          <div class="col">
            <button class="btn vector-btn" (click)="routing()">
              <img src="/assets/Vector.svg" />
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row custom-row">
      <div class="col">
        <div class="gray-circle"></div>
        <div class="primary-label">Jonathan Dhont</div>
      </div>
      <div class="col">
        <div class="primary-label">15 April, 2018</div>
      </div>
      <div class="col">
        <div>
          <span class="primary-label">15 April,2018</span>
          <span class="secondary-label">( dans 3 Jours )</span>
        </div>
      </div>
      <div class="col">
        <div class="primary-label">2 jours&nbsp;(3 sessions)</div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col">
            <div class="primary-label">
              360 €
            </div>
          </div>
          <div class="col">
            <button class="btn vector-btn" (click)="routing()">
              <img src="/assets/Vector.svg" />
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row custom-row">
      <div class="col">
        <div class="gray-circle"></div>
        <div class="primary-label">Jonathan Dhont</div>
      </div>
      <div class="col">
        <div class="primary-label">15 April, 2018</div>
      </div>
      <div class="col">
        <div>
          <span class="primary-label">15 April,2018</span>
          <span class="secondary-label">( dans 3 Jours )</span>
        </div>
      </div>
      <div class="col">
        <div class="primary-label">2 jours&nbsp;(3 sessions)</div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col">
            <div class="primary-label">
              360 €
            </div>
          </div>
          <div class="col">
            <button class="btn vector-btn" (click)="routing()">
              <img src="/assets/Vector.svg" />
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row custom-row">
      <div class="col">
        <div class="gray-circle"></div>
        <div class="primary-label">Jonathan Dhont</div>
      </div>
      <div class="col">
        <div class="primary-label">15 April, 2018</div>
      </div>
      <div class="col">
        <div>
          <span class="primary-label">15 April,2018</span>
          <span class="secondary-label">( dans 3 Jours )</span>
        </div>
      </div>
      <div class="col">
        <div class="primary-label">2 jours&nbsp;(3 sessions)</div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col">
            <div class="primary-label">
              360 €
            </div>
          </div>
          <div class="col">
            <button class="btn vector-btn" (click)="routing()">
              <img src="/assets/Vector.svg" />
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row custom-row">
      <div class="col">
        <div class="gray-circle"></div>
        <div class="primary-label">Jonathan Dhont</div>
      </div>
      <div class="col">
        <div class="primary-label">15 April, 2018</div>
      </div>
      <div class="col">
        <div>
          <span class="primary-label">15 April,2018</span>
          <span class="secondary-label">( dans 3 Jours )</span>
        </div>
      </div>
      <div class="col">
        <div class="primary-label">2 jours&nbsp;(3 sessions)</div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col">
            <div class="primary-label">
              360 €
            </div>
          </div>
          <div class="col">
            <button class="btn vector-btn" (click)="routing()">
              <img src="/assets/Vector.svg" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

