<div class="container">
  <div class="return-bloc">
    <button class="return-btn" (click)="routing()">
      <img src="/assets/Vector (1).svg" />
    </button>
    <div class="return-link">Retour à la liste</div>
    <div class="row">
      <div class="col">
        <div class="applicant-container">
          <div
            class="card  description-card"
            style="height:230px;margin-top:30px"
          >
            <div class="card-header">
              <div class="d-flex flex-row">
                <div class="p-2 card-title">Demandeur</div>
                <div class="p-2">
                  <div class="number">13</div>
                  <div class="secondary-title">
                    Réservations validés
                  </div>
                </div>
                <div class="p-2">
                  <div class="number">02</div>
                  <div class="secondary-title">
                    Réservations en cours
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="big-circle"></div>

              <div class="name">
                Jonathan Dhont
              </div>
              <div class="purple-name">
                <div class="purple-circle"></div>
                Psycologue
              </div>
              <div class="secondary-paragraph">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Quisque consectetur est ac nisi sodales.
                </p>
              </div>
            </div>
          </div>
          <!----------------------------------------------------second card-------------------------------------------------------->

          <div
            class="card reservation-container"
            style="height:450px;margin-top: 30px"
          >
            <table class="table">
              <tbody>
                <tr></tr>
                <tr>
                  <td>
                    <div class="d-flex justify-content-start">
                      <div class="title">Reservation</div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex justify-content-between">
                      <div class="reservation-date">
                        Date de réservation
                      </div>
                      <div class="reservation-date">
                        18/12/2018
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex justify-content-between">
                      <div class="reservation-date">
                        Date de la demande
                      </div>
                      <div class="reservation-date">
                        18/12/2018
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex justify-content-between">
                      <div class="reservation-date">
                        Liste et prix des jours réservés
                      </div>
                      <div class="reservation-date">
                        10/12/2018
                      </div>
                    </div>

                    <div class="d-flex justify-content-between">
                      <div class="session-price">
                        18 Décembre 2018 : Session matinale
                      </div>
                      <div class="right-price">
                        200 €
                      </div>
                    </div>
                    <div class="d-flex justify-content-between">
                      <div class="session-price">
                        19 Décembre 2018 : Toute la journée
                      </div>
                      <div class="right-price">
                        360 €
                      </div>
                    </div>
                    <div class="d-flex justify-content-between">
                      <div class="session-price">
                        20 Décembre 2018 : Toute la journée
                      </div>
                      <div class="right-price">
                        360 €
                      </div>
                    </div>
                    <div class="d-flex justify-content-between">
                      <div class="session-price">
                        20 Décembre 2018 : Toute la journée
                      </div>
                      <div class="right-price">
                        360 €
                      </div>
                    </div>
                    <div class="d-flex justify-content-between">
                      <div class="session-price">
                        21 Décembre 2018 : Toute la journée
                      </div>
                      <div class="right-price">
                        360 €
                      </div>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>
                    <div class="d-flex justify-content-between">
                      <div class="total">
                        Comission (10%)
                      </div>
                      <div class="total">
                        -128 €
                      </div>
                    </div>

                    <div class="d-flex justify-content-between">
                      <div class="total">
                        Total
                      </div>
                      <div class="total">
                        1152 €
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="container right-container">
          <button class="btn signal-btn">
            <div class="content-signal-btn">Signaler un problème</div>
          </button>

          <div class="card right-card" style="width: 350px;margin-top:15px">
            <img
              class="card-img-top"
              src="/assets/image 2.svg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Cabinet Dentaire</h5>
              <p class="card-text">
                Cabinet complet - 250 m2
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
