<div class="container">
  <div class="d-flex">
    <div class="mr-auto p-2">
      <img class="cab-icon" src="/assets/dashboard/Group 15.8.svg" />
    </div>

    <div class="btn-group">
      <span>
        <button
          type="button"
          data-toggle="dropdown"
          aria-haspopup="false"
          aria-expanded="false"
        >
          <span class="btn-content ">
            Pseudo
          </span>
          <span>
            <img src="/assets/dashboard/toggle.svg" />
          </span>
        </button>
        <ul class="dropdown-menu">
          <li><a [routerLink]="['/profile']">Profile</a></li>
          <li><a href="#">Setting</a></li>
        </ul>
      </span>
    </div>
    <div class="p-2 ">
      <img class="circle-ellipse" src="/assets/dashboard/cercle-nav.svg" />
    </div>
  </div>
</div>
