<div class="progress-section">
  <img src="/assets/rectangle-vert.svg" style="padding-bottom:20px" />
</div>

<div class="content-section">
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="title">
        Choisir professions cibles
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="subtitle">
        Liste des professions pouvant exercer au sein du cabinet
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <input
        class="form-control"
        type="text"
        placeholder="Chercher une profession"
      />
    </div>
    <div class="row" style="padding-left:15px;padding-top:32px">
      <button class="btn">
        <div class="content-btn">
          <img src="/assets/add.svg" />
          <label>
            Psychologue
          </label>
        </div>
      </button>

      <button class="btn" style="margin-left:32px">
        <div class="content-btn">
          <img src="/assets/add.svg" />
          <label>
            Osteopathe
          </label>
        </div>
      </button>

      <button class="btn" style="margin-left:32px">
        <div class="content-btn">
          <img src="/assets/add.svg" />
          <label>
            Infirmière
          </label>
        </div>
      </button>
    </div>

    <div class="gray-section"></div>

    <div class="d-flex justify-content-between" style="margin-top:30px">
      <button class="btn">
        <div class="content-btn">
          <img src="/assets/add.svg" />
          <label>
            Psychologue
          </label>
        </div>
      </button>

      <button class="btn">
        <div class="content-btn">
          <img src="/assets/add.svg" />
          <label>
            Osteopathe
          </label>
        </div>
      </button>

      <button class="btn">
        <div class="content-btn">
          <img src="/assets/add.svg" />
          <label>
            Infirmière
          </label>
        </div>
      </button>

      <button class="btn">
        <div class="content-btn">
          <img src="/assets/add.svg" />
          <label>
            Kinésithérapeute
          </label>
        </div>
      </button>
    </div>
    <div class="d-flex justify-content-between">
      <button class="btn">
        <div class="content-btn">
          <img src="/assets/add.svg" />
          <label>
            Expert comptable
          </label>
        </div>
      </button>

      <button class="btn">
        <div class="content-btn">
          <img src="/assets/add.svg" />
          <label>
            Médecin
          </label>
        </div>
      </button>

      <button class="btn">
        <div class="content-btn">
          <img src="/assets/add.svg" />
          <label>
            Podologue
          </label>
        </div>
      </button>

      <button class="btn">
        <div class="content-btn">
          <img src="/assets/add.svg" />

          <label>
            Chiropracteur
          </label>
        </div>
      </button>
    </div>
    <div class="d-flex justify-content-between">
      <button class="btn">
        <div class="content-btn">
          <img src="/assets/add.svg" />
          <label>
            Architecte
          </label>
        </div>
      </button>

      <button class="btn">
        <div class="content-btn">
          <img src="/assets/add.svg" />
          <label>
            Ophtalmologue
          </label>
        </div>
      </button>

      <button class="btn">
        <div class="content-btn">
          <img src="/assets/add.svg" />
          <label>
            Ergothérapeute
          </label>
        </div>
      </button>

      <button class="btn">
        <div class="content-btn">
          <img src="/assets/add.svg" />
          <label>
            Avocat
          </label>
        </div>
      </button>
    </div>
  </div>
</div>
<div class="footer">
  <div class="container">
    <div class="d-flex">
      <div class="mr-auto p-2">
        <a href="#"> <div class="footer-primarylink">Sauvegarder</div></a>
        <a href="#">
          <div class="footer-secondarylink">Pour terminer plus tard</div></a
        >
      </div>
      <div class="p-2">
        <button class="btn btn-return">
          <div class="content-btn-return">retour</div>
        </button>
      </div>
      <div class="p-2">
        <button class="btn btn-next">
          <div class="content-btn-next" [routerLink]="['/header', 'etape1']">
            suivant
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
