<!---->
<div>
  <div class="content-section">
    <div class="container">
      <div class="d-flex justify-content-center">
        <div class="title">
          Informations générales
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="subtitle">
          Liste des professions pouvant exercer au sein du cabinet
        </div>
      </div>
    </div>

    <div class="container second-container">
      <div class="form-group">
        <label class="secondary-label">Titre</label>
        <input class="form-control" type="text" placeholder="Entrer titre" />
      </div>

      <div class="form-row" style="margin-top:29px">
        <div class="form-group col">
          <label for="inputState" class="secondary-label">Surface</label>
          <select id="inputState" class="form-control">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>

        <div class="form-group col  second-col ">
          <label for="inputCity" class="secondary-label">Type d’espace</label>
          <input type="text" class="form-control" id="inputCity" />
        </div>
      </div>

      <div class="form-group" style="margin-top:28px">
        <label class="secondary-label" for="exampleFormControlTextarea1"
          >area</label
        >
        <textarea
          placeholder="Un petit paragraphe pour décrire le cabinet"
          class="form-control"
          id="area"
          rows="3"
        ></textarea>
      </div>
    </div>
  </div>
</div>
