@import "abstracts/variables";

p {
  font-family: $Primary-font;
  font-style: normal;
  font-weight: normal;
  font-size: $label-size;
  line-height: 21px;
  margin-top: 17px;
  color: $Secondary-dark-1;
}
.map-title {
  font-family: $Primary-font;
  font-style: normal;
  font-weight: 500;
  font-size: $label-size;
  line-height: normal;
  text-transform: capitalize;
  padding-bottom: 12px;
  color: $Dark-blue;
}
.field-title {
  font-family: $Primary-font;
  font-style: normal;
  font-weight: normal;
  font-size: $label-size;
  line-height: 21px;
  color: $Secondary-dark-2;
}

.content-btn {
  float: left;
}

agm-map {
  height: 300px;
  width: 665px;
  border-radius: 5px;
}
